<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
        <rules>
            <rule name="allToIndex" stopProcessing="true">
                <match url="^((?!css).)*$"/>
                <action type="Rewrite" url="index.php" appendQueryString="true"/>
            </rule>
        </rules>
        </rewrite>

        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
